@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400&display=swap");

body {
  background-color: #f4f7fb;
  color: rgb(88, 88, 88);
}

.img-home {
  padding: 0 2ch 0 1ch;
  background-color: #f4f7fb;
  border: 2px solid #f4f7fb;
  cursor: pointer;
}

.homepage-top {
  padding: 4ch 4ch 3ch 2ch;
}

.list-group {
  width: 23%;
}

.list-group h3 {
  color: #01b2ee;
  font-weight: 600;
  background-color: white;
  padding-left: 1ch;
  height: 4.2ch;
  border-bottom: 1px solid rgb(204, 202, 202);
}

.list {
  border-bottom: 1px solid rgb(248, 247, 247);
}

.li-title {
  font-family: "Source Sans Pro", sans-serif;
}

.list:hover {
  cursor: pointer;
  color: #01b2ee;
}

.number {
  color: rgb(165, 165, 165);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.card {
  height: 70%;
  font-family: "Sarabun", sans-serif;
}

.div-img-desc {
  position: relative;
}

.card-desc {
  display: none;
  background-color: #01b2ee;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.9;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.card-img:hover ~ .card-desc {
  display: block;
}

.card-desc:hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-icon {
  position: absolute;
  top: 2vh;
  right: 2vh;
  z-index: 1;
  background-color: rgb(230, 228, 228);
  border-radius: 50%;
  padding: 0.5vh;
}

.fav-icon {
  cursor: grabbing;
}

.card-title {
  font-weight: 600;
}

.card-body-home {
  line-height: 4px;
}

.card-type-home {
  color: #01b2ee;
}

.card-city-home {
  color: rgb(165, 165, 165);
}

.from {
  float: right;
  color: #01b2ee;
  font-size: 0.9rem;
}

.div-card-price {
  font-family: "Montserrat", sans-serif;
  color: rgb(165, 165, 165);
  margin-top: 10vh;
  font-size: 0.9rem;
}

.card-price {
  text-decoration: line-through;
  font-weight: 600;
  color: rgb(124, 124, 124);
}

.card-dis {
  font-size: 2.2rem;
  color: #01b2ee;
  margin-top: -1.5vh;
}

.form-email {
  display: flex;
  flex-wrap: wrap;
  padding: 3ch;
  margin: 0 1ch 2ch 1.2ch;
  background-color: white;
  font-family: "Sarabun", sans-serif;
  color: #01b2ee;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(214, 213, 213);
}

.email-label {
  margin-right: 2ch;
}

.email-input {
  box-shadow: 0 0 10px rgb(214, 212, 212);
  border-radius: 4px 0 0 4px;
  padding-left: 5ch;
}

.btn-subscribe {
  background-color: #01b2ee;
  width: 13ch;
  box-shadow: 0 0 10px #01b2ee;
  border-radius: 0 4px 4px 0;
}

.div-email-input {
  width: 46%;
  display: flex;
  position: relative;
}

.btn-subscribe:hover,
.btn-download:hover {
  background-color: #13c2fc;
}

.mail-icon {
  position: absolute;
  top: 0.8ch;
  left: 1ch;
  color: gray;
}

.div-footer {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  gap: 10ch;
}

.footer {
  gap: 10ch;
}

.footer h6 {
  margin-bottom: 3ch;
}

.footer p:hover {
  color: #01b2ee;
  cursor: pointer;
}

.footer div::first-line {
  font-weight: bold;
}

.footer-icons {
  margin-bottom: 2ch;
}

.facebook-icon,
.youtube-icon {
  font-size: 3.5ch;
}

.twitter-icon {
  font-size: 4ch;
  margin-top: -1px;
}

.camera-icon {
  font-size: 3ch;
  margin-top: 3px;
}

.facebook-icon:hover,
.youtube-icon:hover,
.twitter-icon:hover,
.camera-icon:hover {
  cursor: pointer;
  color: #01b2ee;
}

.btn-download {
  background-color: #01b2ee;
  box-shadow: 0 0 10px #01b2ee;
  height: 6ch;
  width: 25ch;
  margin-top: 2ch;
}

.footer-input {
  width: 80%;
  border-radius: 4px 0 0 4px;
}

.privacy-policy {
  background-color: white;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  border-top: 1px solid rgb(207, 205, 205);
}

.privacy-policy .pri-pol {
  color: #01b2ee;
}

.div-nav-bottom {
  display: none;
  position: sticky;
  bottom: 0;
}

.navbar-bottom {
  background-color: white;
  border-top: 1px solid rgb(235, 234, 234);
  margin-bottom: 0;
}

.navbar-bottom div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1ch;
}

.navbar-bottom div:hover {
  cursor: pointer;
  color: #01b2ee;
}

@media (max-width: 1115px) {
  .list-group {
    display: none;
  }

  .form-email {
    flex-direction: column;
  }

  .div-email-input {
    width: 90%;
  }

  .div-footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-form {
    border-bottom: 1px solid rgb(207, 205, 205);
    padding-bottom: 3ch;
    margin-bottom: -7ch;
  }

  .div-nav-bottom {
    display: block;
  }
}

@media (max-width: 648px) {
  .homepage-top {
    flex-direction: column;
    padding-left: 1.5ch;
    padding-right: 1.5ch;
  }

  .footer {
    flex-direction: column;
    gap: 5ch;
  }
}
