@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');

body {
  background-color: #f4f7fb;
  color: rgb(88, 88, 88);
}

.img-home {
  padding: 0 2ch 0 1ch;
  background-color: #f4f7fb;
  border: 2px solid #f4f7fb;
  cursor: pointer;
}

.homepage-top {
  /* display: flex; */
  /* flex-direction: row; */
  /* gap: 2ch; */
  padding: 4ch 5ch 3ch 2ch;
}

.list-group {
  width: 23%;
}

.list-group h3 {
  color: #01b2ee;
  font-weight: 600;
  /* text-align: left; */
  background-color: white;
  padding-left: 1ch;
  height: 4.2ch;
  /* margin-bottom: 0; */
  /* padding-top: 1ch; */
  border-bottom: 1px solid rgb(204, 202, 202);
}

.list {
  border-bottom: 1px solid rgb(248, 247, 247);
}

.li-title {
  
    font-family: "Source Sans Pro", sans-serif;
  /* padding-bottom: 0.1ch; */
  /* padding-top: 0.3ch; */
}

.list:hover {
  cursor: pointer;
  color: #01b2ee;
}

.number {
  color: rgb(165, 165, 165);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  /* margin-top: 0.5ch; */
}

.card {
  height: 70%;
  font-family: 'Sarabun', sans-serif;
}

.div-img-desc {
    position: relative;
}

.card-desc {
    display: none;
    background-color: #01b2ee;
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
    /* padding-left: 2ch;
    padding-right: 2ch; */

}

.card-img:hover ~ .card-desc{
    display: block;
}

.card-desc:hover {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
  font-weight: 600;
}

.card-body-home {
  line-height: 4px;
  /* padding: 2ch 2ch 1ch 2ch; */
}

.card-type-home {
  color: #01b2ee;
}

.card-city-home {
  color: rgb(165, 165, 165);
}

.from {
  float: right;
  color: #01b2ee;
  font-size: 0.9rem;
  /* margin-top: 1ch; */
}

.div-card-price {
  /* display: flex;
  justify-content: space-between; */
  font-family: "Montserrat", sans-serif;
  color: rgb(165, 165, 165);
  margin-top: 10vh;
  font-size: 0.9rem;
}

.card-price {
  text-decoration: line-through;
  font-weight: 600;
  color: rgb(124, 124, 124);
}

.card-dis {
  font-size: 2.2rem;
  color: #01b2ee;
  margin-top: -1.5vh;
  /* font-weight: 900; */
}

.card-price-dis {
  /* display: flex;
  gap: 1.5ch; */
}

.form-email {
    display: flex;
    padding: 3ch;
    margin: 0 1ch 2ch 1.2ch;
    background-color: white;
    font-family: 'Sarabun', sans-serif;
    color: #01b2ee;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(214, 213, 213);
}

.email-label {
    margin-right: 2ch;
}

.email-input {
    box-shadow: 0 0 10px rgb(214, 212, 212);
    border-radius: 4px 0 0 4px;
    padding-left: 5ch;
}

.btn-subscribe {
    background-color: #01b2ee;
    width: 13ch;
    box-shadow: 0 0 10px #01b2ee;
    border-radius: 0 4px 4px 0;
}

.div-email-input {
    width: 46%;
    display: flex;
    position: relative;
}

.btn-subscribe:hover {
    background-color: #13c2fc;
}

.mail-icon {
    position: absolute;
    top: 0.8ch;
    left: 1ch;
    color: gray;
}

@media (max-width: 1115px) {
    .list-group {
      display: none;
    }
  }
  
